@model CMSPlus.Domain.Models.UserModels.UserEditRolesViewModel

@{
    ViewBag.Title = "Edit user roles";
    Layout = "_Layout";
}
<h6>@ViewData["Username"]</h6>
<form asp-controller="User" asp-action="EditUserRoles" method="post">
    <input type="hidden" asp-for="UserId"/>
    <table class="table">
        <thead>
        <th>Role</th>
        <th>Status</th>
        </thead>
        <tbody>
        @for (int i = 0; i < Model.Roles.Count(); i++)
        {
            <tr>
                <td>
                    <input asp-for="@Model.Roles[i].Name" type="hidden"/>
                    @Model.Roles[i].Name
                </td>
                <td>
                    <input asp-for="@Model.Roles[i].IsSelected" class="form-check-input"></input>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <button type="submit" class="btn btn-success">Submit</button>
</form>

