@model CMSPlus.Domain.Models.TopicModels.TopicDetailsViewViewModel
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using CMSPlus.Domain.Models.UserModels
@inject IAuthorizationService AuthorizationService
@{
    Layout = "_Layout";
}
<partial name="_TopicDetailsPartial"/>

<form method="post" class="m-3">
    @Html.HiddenFor(x=> x.Title)
    @Html.HiddenFor(x=> x.Body)
    @Html.HiddenFor(x=> x.SystemName)
    @if (User.Identity.IsAuthenticated)
    {
        <div class="col-6 text-start">
            <button type="submit" class="btn btn-primary">Get to email</button>
        </div>
        <div class="col-6 text-end">
            <button type="submit" asp-action="CopyAsBlog" asp-route-id="@Model.Id" class="btn btn-primary">Copy as blog</button>
        </div>
    }
</form>
    

