@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Razor.Language

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <p class="nav-link text-dark" title="Manage">Hello @UserManager.GetUserName(User)!</p>
            </li>
            <li>
                <button type="submit" class="nav-link text-dark border-0">Log out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-link text-dark" asp-controller="Account" asp-action="Register" asp-route-prevPath="@string.Format("{0}://{1}{2}{3}", Context.Request.Scheme, Context.Request.Host, Context.Request.Path, Context.Request.QueryString)">Register</a></li>
        <li><a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}