@model dynamic

@{
    ViewBag.Title = "Successful registration";
    Layout = "_Layout";
}
<h1>@ViewData["Title"].</h1>
<h4 m-3>To activate your account, access the link which your receive to <strong>email</strong></h4>
